name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  MAVEN_CLI_OPTS: --batch-mode --no-transfer-progress

jobs:
  test:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: 8
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Test with Maven
        run: ./mvnw $MAVEN_CLI_OPTS test

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: ./**/target/surefire-reports

  test-matrix:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [ test ]

    strategy:
      matrix:
        java: [ 11, 17, 21 ]
        spring-boot-version: [ 2.6.15, 2.7.17 ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Test with Maven
        run: ./mvnw $MAVEN_CLI_OPTS -pl :doma-spring-boot-core,:doma-spring-boot-autoconfigure,:doma-spring-boot-starter test -Dspring-boot.version=${{ matrix.spring-boot-version }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: ./**/target/surefire-reports

  test-spring-boot-3:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [ test ]

    strategy:
      matrix:
        java: [ 17, 21 ]
        spring-boot-version: [ 3.0.12, 3.1.5, 3.2.0-RC2 ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Test with Maven
        run: ./mvnw $MAVEN_CLI_OPTS -pl :doma-spring-boot-core,:doma-spring-boot-autoconfigure,:doma-spring-boot-starter test -Dspring-boot.version=${{ matrix.spring-boot-version }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: ./**/target/surefire-reports

  test-slf4j-backward-compatible:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [ test ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: 8
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Test with Maven
        run: ./mvnw $MAVEN_CLI_OPTS compile -Pbackward-compatible && ./mvnw $MAVEN_CLI_OPTS test -Dmaven.main.skip=true -Ddoma.version=2.49.0

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: ./**/target/surefire-reports

  deploy:
    if: github.event_name == 'push' && contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    needs: [ test-matrix, test-slf4j-backward-compatible ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: 8
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Release Maven package
        uses: samuelmeuli/action-maven-publish@v1
        with:
          gpg_private_key: ${{ secrets.SIGNING_KEY }}
          gpg_passphrase: ${{ secrets.SIGNING_PASSWORD }}
          nexus_username: ${{ secrets.OSSRH_USERNAME }}
          nexus_password: ${{ secrets.OSSRH_PASSWORD }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: ./**/target/surefire-reports
